/* Importando fontes */
@font-face {
  font-family: "Jura";
  src: url(../fonts/Jura-Bold.ttf);
  font-weight: 100 1000;
}

@font-face {
  font-family: "Jura";
  src: url(../fonts/Jura-Medium.ttf);
  font-weight: 100 1000;
}

/* Removendo propriedades padrões de css dos navegadores */
* {
  margin: 0;
  padding: 0;
}

:root {
  /* Textos */
  --h1-color: #ffffff;
  --h2-color: #6bd1ff;
  --h3-color: #808080;
  --p-color: #061b36;

  --font-main: "Jura", "Courier New", "Arial";

  /* Elementos semânticos */
  --header-background: #6bd1ff;
  --nav-background: #ffffff;
  --main-background: #fafcff;
}

.flex-container {
  display: flex;
  background-color: var(--header-background);
  margin: auto;
  width: 100%;
}

h1 {
  color: var(--h1-color);
  font-size: 2rem;
  text-transform: uppercase;
  font-family: var(--font-main);
  line-height: 1.875rem;
}

.subtitulo-header {
  color: var(--h1-color);
  font-size: 1rem;
  font-family: var(--font-main);
}

h2 {
  color: var(--h2-color);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: var(--font-main);
}

h3 {
  color: var(--h3-color);
  font-size: 1.125rem;
  font-family: var(--font-main);
}

p {
  color: var(--p-color);
  font-size: 1rem;
  font-family: var(--font-main);
}

ul {
  padding-top: 0.875rem;
  font-size: 1.125;
  font-family: var(--font-main);
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

li {
  list-style-type: none;
  padding-top: 0.875rem;
  font-size: 1rem;
  font-family: var(--font-main);
  padding-left: 1.25rem;
}

header {
  width: 100%;
}

.elementos-header {
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 48rem) {
  .elementos-header {
    display: inline-block;
  }
}

.item-header {
  padding: 0 10% 0 10%;
}


nav {
  display: flex;
  background-color: var(--nav-background);
  height: 5rem;
  max-height: 6.25rem;
  max-width: 100%;
  margin: 0 10% 0 10%;
}

.info-nav {
  margin-right: 10.9375rem;
  width: 12.5rem;
  display: flex;
}

@media screen and (max-width: 48rem) {
  .info-nav {
    display: inline-block;
    margin-right: 0;
  }
}

.nav-center {
  align-items: center;
}

.item-nav {
  flex: 1;
}

.icone-nav {
  width: 11.25rem;
}

main {
  background-color: var(--main-background);
}

section {
  margin: auto;
  width: 75%;
  margin-top: 30px;
}

footer {
  font-family: var(--font-main);
}
