/* Importando fontes */
@font-face {
  font-family: "Jura";
  src: url(../fonts/Jura-Bold.ttf);
  font-weight: 100 1000;
}

@font-face {
  font-family: "Jura";
  src: url(../fonts/Jura-Medium.ttf);
  font-weight: 100 1000;
}

/* Removendo propriedades padrões de css dos navegadores */
* {
  margin: 0;
  padding: 0;
}

:root {
  /* Textos */
  --h1-color: #ffffff;
  --h2-color: #6bd1ff;
  --h3-color: #808080;
  --p-color: #061b36;

  --font-bold: "Jura", "Courier New", "Arial";
  --font-medium: "Jura", "Courier New", "Arial";

  /* Elementos semânticos */
  --header-background: #6bd1ff;
  --nav-background: #ffffff;
  --main-background: #fafcff;
}

h1 {
  color: var(--h1-color);
  font-size: 2rem;
  text-transform: uppercase;
  font-family: var(--font-bold);
}

.subtitulo-header {
  color: var(--h1-color);
  font-size: 1rem;
  font-family: var(--font-bold);
}

h2 {
  color: var(--h2-color);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: var(--font-bold);
}

h3 {
  color: var(--h3-color);
  font-size: 1.125rem;
  font-family: var(--font-bold);
}

p {
  color: var(--p-color);
  font-size: 1rem;
  font-family: var(--font-medium);
}

ul,
li {
  font-size: 1rem;
  font-family: var(--font-medium);
}

header {
  background-color: var(--header-background);
}

nav {
  background-color: var(--nav-background);
  max-height: 12.5rem;
  max-width: 100%;
  display: flex;
}

.info-nav {
  margin-right: 10.9375rem;
  width: 12.5rem;
  display: flex;
}

.nav-center {
  align-items: center;
}

.item-nav {
  flex: 1;
}

.icone-nav {
  width: 11.25rem;
}


main {
  background-color: var(--main-background);
}

footer {
  font-family: var(--font-medium);
}
